# Packages and build
packages/
node_modules/
bower_components/
artifacts/
.vs/
.build/
[Bb]in/
[Oo]bj/

# User-specific files
*.suo
*.user
*.docstates
*.ide
*.publishsettings
*.lock.json

# OS X temporary files
.DS_Store
._*